@charset "UTF-8";

/* Configurações globais */

* {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to bottom, rgb(24, 204, 24), rgb(219, 255, 219));
    font-family: Arial, sans-serif;
    background-attachment: fixed;
}

/* NavBar */

nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
}

nav p {
    font-size: 16px;
}

/* main */

main {
    background-color: rgba(9, 94, 9, 0.253);
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}

#titulo {
    font-size: 3rem;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.content {
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.content p {
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) { /* responsividade */
    main {
        margin: 10px;
    }
}

/* links */
 
.linknav { /* Links da NavBar */
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 50px;
}

span { /* link da NavBar em destaque */
    border: 1px solid green;
    padding: 10px;
    border-radius: 5px;
}

    /* hovers dos links da NavBar */

span:hover {
    background-color: green;
    margin-top: 20px;
    margin-right: 15px;
    box-shadow: 1px 1px 2px black;
    transition: 0.4s;

}

.linknav:hover {
    margin-top: 20px;
    margin-right: 15px;
    text-shadow: 0.2px 0.2px 0.7px black;
    transition: 0.4s;
}

a {
    color: black;
}

abbr {
    text-decoration: underline;
}